:root {
  --color-principal: #ed9224;
  --color-card: rgba(186, 183, 180, 0.3);
  --color-secundario: #f5d9ab;
  --color-gris: rgba(128, 128, 128, 1);
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/futura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e1e1e1;
}

* {
  box-sizing: border-box;
  font-family: "Futura", sans-serif;
}

.active div a span {
  color: var(--color-principal);
}

.p-highlight a .p-steps-number {
  background-color: var(--color-principal);
}

.bg-card-light {
  background-color: #eaeaea8b;
  min-height: 100vh;
}